.congrats--btn {
  grid-area: button;
}

.congrats--body {
  grid-area: main;
}

.congrats--diamonds {
  grid-area: diamond;
}

.congrats--container {
  height: 100vh;
  width: 100%;
  background: #000019 url(../public/congrats_assets/congrats-bg.gif) no-repeat fixed center / cover;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "button . . . ."
    ". . . . ."
    ". . . . ."
    ". main main main ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
  z-index: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

.congrats--body {
  z-index: 3;
}

.congrats--astronaut-cont {
  position: relative;
  width: 100%;
  height: auto;
  top: 150%;
  left: -30%;
  z-index: 2;
}

.congrats--astronaut {
  position: absolute;
  object-fit: contain;
}

.congrats--alien-cont {
  position: relative;
  width: 100%;
  height: auto;
  bottom: -260%;
  left: -30%;
  z-index: 2;
}

.congrats--alien {
  position: absolute;
  object-fit: contain;
}

.congrats--diamonds {
  text-align: center;
  filter: invert(43%) sepia(61%) saturate(6902%) hue-rotate(301deg) brightness(96%) contrast(96%);
}

.congrats--title {
  font-family: 'VT323', monospace;
  font-size: 16vh;
  color: #FBCA28;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 4vh;
  text-transform: uppercase;
  /* letter-spacing: 25px; */
  margin: 0px 50px;
  text-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.congrats--txt {
  font-family: 'VT323', monospace;
  font-size: 6vh;
  /* color: #9140a9; */
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  text-align: center;
  text-transform: uppercase;
  min-height: 2vh;
  margin: 0;
}

/* Button CSS */
.congrats--btn {
  font-family: 'VT323';
  font-size: 18px;
  color: black;
  text-transform: uppercase;

  height: auto;
  width: auto;
  max-width: 250px;

  /* margin: 10% 14%; */
  margin: 10% auto;
  padding: 20px 40px;

  position: relative;
  display: inline-block;
  vertical-align: top;

  background: #FBCA28;
  z-index: 2;

  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.congrats--btn:active {
  top: 2px;
}
.congrats--btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #FBCA28;
  z-index: -1;
}

.congrats--btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #FBCA28;
  z-index: -1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .congrats--container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "main main"
      "diamond diamond"
      "button button";
  }

  .congrats--title {
    font-size: 10vh;
    min-height: 2vh;
    /* text-shadow: none; */
  }

  .congrats--txt {
    font-size: 3vh;
    min-height: 1vh;
  }

  .congrats--btn {
    width: 40%;
    margin: 20px auto;
    padding: 10px 20px;
  }

  .congrats--astronaut {
    visibility: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .congrats--container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "main main"
      "diamond diamond"
      "button button";
  }

  .congrats--title {
    font-size: 12vh;
  }

  .congrats--txt {
    font-size: 3.5vh;
  }

  .congrats--btn {
    width: 60%;
    margin: 20px auto;
    padding: 20px 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .congrats--title {
    font-size: 6vh;
    min-height: 4vh;
  }

  .congrats--txt {
    font-size: 2vh;
    min-height: 2vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .congrats--container {
    height: 100vh;
    width: 100%;
    background: #000019 url(../public/congrats_assets/congrats-bg.gif) no-repeat fixed center / cover;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "button . . . ."
      ". . . . ."
      ". . . . ."
      ". main main main ."
      ". . . . ."
      ". . . . ."
      ". . . . .";
    z-index: 1;
  }

  .congrats--title {
    font-size: 14vh;
    min-height: 4vh;
  }

  .congrats--txt {
    font-size: 5vh;
    min-height: 2vh;
  }

  .congrats--btn {
    max-width: 250px;
    width: auto;
    padding: 20px 40px;
    margin: 20px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .congrats--title {
      font-size: 14vh;
      min-height: 4vh;
    }

    .congrats--txt {
      font-size: 5vh;
      min-height: 2vh;
    }
}
